.App {
  font-family: sans-serif;
  text-align: center;
}

.progress-bar {
  height: 5vh;
  width: 85vh;
  border: black solid 1px;
  display: inline-block;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
}

.progress-bar-fill {
  background: green;
}
